node_modules/
knomary_pgadmin/
postgres_data/
storageminio/
gitlab/
runners/
var/
/build/
.DS_Store
redis-data/
redis_data/
*.db
output/
input/
dist/
report*
run_auth.sh
run_fileserver.sh
run_server.sh
.env
uploaded/
tmp/
yarn-error.log
backups/
dist_scorm/
.vscode/settings
coverage/
/scorm
/.idea
/static
schemaspy/
